.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 24px;
  flex-grow: 1;
  margin-top: 16px;
  margin-bottom: 80px;
}

.card-item {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-item > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-item h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-item p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-item .card-item-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

@media(max-width: 1028px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .cards {
    grid-template-columns: 1fr;
  }
